.homepage-container
{
    background: linear-gradient(
        to right,
        #7f53ac,
        #657ced
    );

    min-height: 100vh;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}